<div class="row">
  <div @fade class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col" *ngIf="cart$ | async as cart">
    <div class="container">
      <div class="row row-cols-2">
        <ng-container
          *ngFor="let product of filteredProducts; let i = index"
          class="animatedlist"
        >
          <div @fade class="col">
            <product-card
              [product]="product"
              [shopping-cart]="cart"
            ></product-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
