<div *ngIf="product.title" class="card">
    <img [src]="product.imageUrl" *ngIf="product.imageUrl" class="card-img-top" alt="{{ product.title }}">
    <div class="card-body">
        <h2 class="card-title">{{ product.title }}</h2>
        <p class="card-text">{{ product.price | currency:'EUR': 'symbol' }}</p>
    <div class="card-footer">
        <div class="d-grid col mx-auto">
        <button *ngIf="showActions" (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
    </div>
</div>
