Admin Dashboard
<br />
<br />
<button mat-raised-button color="primary" routerLink="/home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>
<mat-card>
  <div *ngIf="(user | async)?.accountType == 'admin'; else notAdmin">
    Hello Admin!
    <br />
    <br />

    <br />
    You can access to the application's all admin functions:
    <br />
    <br />

    <section>
      <button
        mat-raised-button
        color="primary"
        routerLink="/admin/admin-products"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Manage Products</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        routerLink="/admin/admin-orders"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Manage Orders</span>
      </button>
    </section>
    <br />
  </div>

  <ng-template #notAdmin> Not admin </ng-template>
</mat-card>
