.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

img {
  width: 80px;
}

@media screen and (max-width: 480px) {
  img {
    width: 30px;
    padding: 0;
}
.table {
  padding: 0;
}
}
