<div @fade class="mb-3"><p>TO MANAGE PRODUCTS FOR ADMINS:</p>

<p>
<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<p>
<input
  #query
  (keyup)="filter(query.value)"
  type="text"
  class="form-control"
  placeholder="Search...">
</p>
</div>

<div @fade class="mb-3">
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>OUR PRODUCTS<br>-> Image</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td><img [src]="p.imageUrl" class="card-img-top" style="width: 80px;"></td>
            <td>{{ p.title }}</td>
            <td>{{ p.price | currency:'USD':true  }}</td>
            <td>
                <a
                    [routerLink]="['/admin/products/', p.id]"
                    class="nav-link">
                    Edit
                </a>
            </td>
        </tr>
    </tbody>
</table>
</div>
