<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
      <button (click)="loginWithGoogle()"  mat-button style="padding: 1rem;"><img src="https://raw.githubusercontent.com/fireflysemantics/logo/master/Google.svg" style="width: 50px; height:30px">
        Sign in with Google
    </button>
    
    <br>
    <br>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
  
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-raised-button>Login</button>
      </div>
    </mat-card-actions>
</mat-card>