<!-- Animated welcome text -->
<div @fade>
  <ng-container *ngIf="user$ | async as user; else anonymousUser">
    <h4>Dear {{ user.displayName }},</h4>
  </ng-container>
  <ng-template #anonymousUser>
    <h4>Dear {{ name }},</h4>
  </ng-template>
  <img
    src="../../../../assets/images/fruit-1131172_960_720.jpg"
    class="img-fluid"
    style="border-radius: 4px"
  />
</div>
<div @slide>
  <br />
  <br />
  <h4>
    Welcome to A-OrganicShop Application!
    <hr />
    <a mat-button routerLink="/products">Click here to Start the Shopping</a>
  </h4>
  <ng-container *ngIf="user$ | async as user; else anonymousUserFooter">
    <h4>
      You are logged in successfully, as <strong>{{ user.displayName }}</strong
      >,<br />
      so after shopping, you will be able to place order.<br />
    </h4>
  </ng-container>
  <ng-template #anonymousUserFooter>
    <h4>Please login to place your orders after shopping:<br /></h4>
    <a mat-button routerLink="/login">Click here to Login</a>
  </ng-template>
</div>
