<!-- Animated welcome text -->
<div @fade>
  <ng-container *ngIf="user$ | async as user; else anonymousUser">
    <h4>Dear {{ user.displayName }},</h4>
  </ng-container>
  <ng-template #anonymousUser>
    <h4>Dear {{ name }},</h4>
  </ng-template>
  <img
    src="../../../../assets/images/fruit-1131172_960_720.jpg"
    class="img-fluid"
    style="border-radius: 4px"
  />
</div>
<div @slide>
  <br />
  <br />
  <h4>
    Welcome to A-OrganicShop Application!
    <hr />
    <a mat-button routerLink="/products">Click here to Start the Shopping</a>
  </h4>
  <ng-container *ngIf="user$ | async as user; else anonymousUserFooter">
    <h4>
      You are logged in successfully, as <strong>{{ user.displayName }}</strong
      >,<br />
      so after shopping, you will be able to place order.<br />
    </h4>
  </ng-container>
  <ng-template #anonymousUserFooter>
    <h4>Please login to place your orders after shopping:<br /></h4>
    <a mat-button routerLink="/login">Click here to Login</a>
  </ng-template>
</div>
Home DASHBOARD
TODO: ENABLE THE END OF BUTTONS
<section>
    <button mat-raised-button color="primary" routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </button>
    <button mat-raised-button color="primary" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </button>
    <button mat-raised-button color="primary" routerLink="/signup">
        <mat-icon>person_add</mat-icon>
        <span>Sign up</span>
    </button>
    <button mat-raised-button color="primary" routerLink="/forgot-password">
        <mat-icon>help_outline</mat-icon>
        <span>Forgot password</span>
    </button>
    <button mat-raised-button color="primary" routerLink="/verify-email">
        <mat-icon>help_outline</mat-icon>
        <span>Resend email verification</span>
    </button>
</section>

<br>

<section>
    <button mat-raised-button color="primary" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </button>
    <button mat-raised-button color="primary" routerLink="/admin">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin Dashboard</span>
    </button>
</section>

<!-- <br>

<mat-card *ngIf="(afAuth.user | async)">
    <mat-icon>check_circle</mat-icon>
    <span>User is logged in</span>
</mat-card>
<mat-card *ngIf="!(afAuth.user | async)">
    <mat-icon>do_not_disturb</mat-icon>
    <span>User is not logged in</span>
</mat-card> -->
