<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
<div @slide class="row col-10">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart.
    <button @slide
    *ngIf="cart.items.length"
    (click)="clearCart()"
    class="btn btn-light btn-sm">
    Clear Shopping Cart
  </button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-end" style="width: 200px">Price (/kg)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td></td>
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>
          <!-- {{ item.quantity }} -->
          <ng-container *ngIf="filteredProducts">
            <div>
              <shopping-quantity [product]="item" [shopping-cart]="cart"></shopping-quantity>
            </div>
          </ng-container>
        </td>
        <td class="text-end">{{ item.totalPrice | currency:'EUR':'symbol' }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-end">{{ cart.totalPrice | currency:'EUR':'symbol' }}</th>
      </tr>
    </tfoot>
  </table>
</div>
<a @slide
    *ngIf="cart.items.length"
    routerLink="/check-out"
    class="btn btn-success btn-sm">
    Check Out
  </a>

</ng-container>
