<!-- <bs-navbar></bs-navbar> -->
<div class="container">

  
  <h1>
    {{title}}
  </h1>
  
  <button type="button" routerLink="/customers">Customers</button>
  <button type="button" routerLink="/orders">Orders</button>
  <button type="button" routerLink="/dashboard">Dashboard</button>
  <button type="button" routerLink="">Home</button>
  
  <router-outlet></router-outlet>
  
  <h1><i class="fa fa-leaf" aria-hidden="true"></i>
    Varga Andras Ecommerce 2025
  </h1>
  <a href="mailto:andrasernovarga@gmail.com"><button>Contact</button></a>
</div>