<bs-navbar></bs-navbar>

<div class="container">

  <router-outlet></router-outlet>

  <div class="bg-light p-5 rounded">
    <mat-card class="example-card">
      <mat-card-content>
        <h1><i class="fa fa-leaf" aria-hidden="true"></i>
          Varga Andras' Organic Shop
        </h1>
      </mat-card-content>
      <mat-card-actions style="color:black; text-align: center;">
        <a href="mailto:andrasernovarga@gmail.com"><button mat-button>Contact</button></a>
      </mat-card-actions>
  </mat-card>
  </div>
</div>
