<nav @fade class="navbar navbar-expand navbar-light fixed-top bg-light">
    <div class="container">
      <button mat-button class="navbar-brand" routerLink="/">
        <i class="fa fa-leaf" aria-hidden="true"></i>
        A'-OShop
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

          </ul>
          <ul class="navbar-nav mb-2 mb-md-0">

            <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
              <button mat-button ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"><strong>
                {{ appUser.name }}
                </strong>
              </button>
              <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" routerLink="/">Go Back Shopping</a></li>
                <li><a class="dropdown-item" routerLink="/shopping-cart">Shopping Cart - Check-out</a></li>
                <ng-container *ngIf="appUser.isAdmin">
                    <li><a ngbDropdownItem class="dropdown-item" routerLink="/admin/admin-orders">Manage Orders</a></li>
                    <li><a ngbDropdownItem class="dropdown-item" routerLink="/admin/admin-products">Manage Products</a></li>
                </ng-container>

                <li><a ngbDropdownItem class="dropdown-item" routerLink="/my/orders">My Orders</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a ngbDropdownItem class="dropdown-item" (click)="logout()">Log Out</a></li>
              </ul>
            </li>

            <ng-template #anonymousUser>
              <li class="nav-item">
                <button mat-button class="nav-link" routerLink="/login"><strong>Login</strong></button>
              </li>
            </ng-template>

            </ul>

            <ul class="navbar-nav mb-2 mb-md-0">

              <li class="nav-item">
                <button mat-button class="nav-link" routerLink="/shopping-cart" *ngIf="cart$ | async as cart">
                    <!-- Include text description of the icon's meaning for screen-readers -->
                  <mat-icon matBadge="{{ cart.totalItemsCount }}" matBadgeColor="primary">shopping_cart</mat-icon>
                    <span class="cdk-visually-hidden">
                      Shopping Cart icon with overlaid badge showing the number of products in the Shopping Cart
                    </span>

            <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="badge rounded-pill bg-warning text-dark" *ngIf="cart$ | async as cart">
                  {{ cart.totalItemsCount }}
                </span> -->
                </button>
              </li>

            </ul>
      </div>
    </div>
  </nav>
