<div class="row">

  <div @slide class="col-3">
      <product-filter [category]="category"></product-filter>
          <!-- we're binding this category input property of our product-filter.component to the category field in our products.component class -->
  </div>

  <div class="col">
  <div class="container">
  <div class="row row-cols-2" *ngIf="cart$ | async as cart">

    <ng-container *ngFor="let product of filteredProducts">
            <div @fade class="col">
                <product-card [product]="product" [shopping-cart]="cart"></product-card>
                          <!-- we're binding this product input property of our product-card.component to the product variable we defined in the ngFor -->
                          <button (click)="topFunction()" id="myBtn" title="Go to top">Back to the Top</button>
            </div>
    </ng-container>
  </div>
  </div>
  </div>
</div>




