<div @fade>
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <br />
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
      <button
        (click)="loginWithGoogle()"
        mat-raised-button
        style="padding: 1rem"
      >
        <img
          src="https://raw.githubusercontent.com/fireflysemantics/logo/master/Google.svg"
          style="width: 50px; height: 30px"
        />
        Sign in with Google
      </button>

      <br />
      <br />
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-raised-button>Login</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

Login
<br />
<br />
<button mat-raised-button color="primary" routerLink="/home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>

<mat-card>
  <!-- Calling GoogleAuth Api from AuthService -->
  <button (click)="loginWithGoogle()" mat-button style="padding: 1rem">
    <img
      src="https://raw.githubusercontent.com/fireflysemantics/logo/master/Google.svg"
      style="width: 50px; height: 30px"
    />
    Sign in with Google
  </button>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          autocomplete="off"
          formControlName="email"
          type="email"
          matInput
          placeholder="Email"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          autocomplete="off"
          formControlName="password"
          type="password"
          matInput
          placeholder="Password"
        />
      </mat-form-field>
    </p>
    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
      <span>{{ firebaseErrorMessage }}</span>
    </div>

    <button mat-raised-button color="primary">Login</button>
  </form>
</mat-card>

<div
  class="progressIndicator"
  [style.display]="isProgressVisible ? 'inline' : 'none'"
>
  <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
