$primary-color: #69995D;

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; 
  border: none;
  outline: none;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
